{% extends 'global/base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'contacts/css/styles.css' %}" />
{% endblock %}

{% block 'title' %} Agenda - {{ contact.first_name }} {% endblock %}

{% block 'content' %}
  <section class="single-contact">
    <h1>
      {{ contact.first_name }} {{ contact.last_name }}
    </h1>
    <p>
      <strong>ID:</strong> {{ contact.id }}
    </p>
    <p>
      <strong>Phone:</strong> {{ contact.phone }}
    </p>
    <p>
      <strong>E-mail:</strong> {{ contact.email }}
    </p>
    <p>
      <strong>Created Date:</strong> {{ contact.created_date }}
    </p>
    <p>
      <strong>Category:</strong> {{ contact.category.name }}
    </p>
    <p>
      <strong>Description:</strong> {{ contact.description }}
    </p>
  </section>
{% endblock %}