:root {
  --width-content: 98rem;
  --link-dark-color: rgb(0, 83, 134);
  --link-light-color: rgb(156, 217, 255);
  --spacing: 1.5rem;
  --color-white: rgb(245, 245, 255);
  --color-black: rgb(0, 0, 30);
  --color-light-gray: rgb(230, 230, 245);
  --color-dark-shadow-5: rgba(0, 0,  10, 5%);
  --color-dark-shadow-10: rgba(0, 0,  10, 10%);
  --color-dark-shadow-20: rgba(0, 0,  10, 20%);
  --color-light-shadow-5: rgba(200, 200, 255, 5%);
  --color-light-shadow-10: rgba(200, 200, 255, 10%);
  --color-light-shadow-20: rgba(200, 200, 255, 20%);
  --table-min-width: 60rem;
  --font-size-mediun: 2.4rem;
  --default-border-radius: 0.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  background-color: #f1f1f1;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  font-size: 1em;
}

ul,
li,
ol,
menu {
  list-style: none;
}

small {
  font-size: 80%;
}

a {
  text-decoration: none;
  color: inherit;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

textarea {
  resize: vertical;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: theme('colors.gray.400', #9ca3af);
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

h5 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

h6 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.header {
  background: var(--color-black);
  padding: var(--spacing);
  box-shadow: 0 5px 10px 2px var(--color-dark-shadow-20);
  z-index: 1;
  position: relative;
}

.header-heading {
  font-size: 4rem;
  text-align: center;
}

.header-link {
  color: var(--link-light-color);
  text-decoration: none;
  transition: filter 0.2s ease-in-out;
}

.header-link:hover {
  filter: brightness(70%);
}

.menu {
  margin: var(--spacing);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.menu-link {
  display: block;
  padding: var(--spacing);
  color: var(--link-light-color);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.4rem;
}

.menu-link:hover {
  background: var(--color-light-shadow-10);
}

.search {
  display: flex;
  justify-content: center;
}

.search-input {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 32rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--link-light-color);
  outline: none;
}

.search-input:focus {
  box-shadow: 0 0 1.5rem var(--link-light-color);
}

.pagination {
  margin-top: var(--spacing);
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing) * 0.8);
  font-size: 1.2rem;
}

.pagination .step-links {
  display: flex;
  gap: calc(var(--spacing) * 0.8);
}

.pagination .step-links a {
  color: var(--link-dark-color);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: block;
}