*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: #f1f1f1;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img, 
picture, video, canvas, svg {
	display: block;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

ul,
li,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}