/* css contact */
.content {
  max-width: var(--width-content);
  margin: calc(var(--spacing) * 2) auto;
  padding: var(--spacing);
  background: var(--color-white);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--color-dark-shadow-20);
  border-radius: var(--default-border-radius);
}

.responsive-table {
  width: 100%;
  overflow-x: hidden;
}

.contacts-table {
  width: 100%;
  min-width: var(--table-min-width);
}

.table-caption {
  font-size: var(--font-size-mediun);
}

.table-row {
  text-align: left;
  text-overflow: ellipsis;
  transition: background-color 0.2s ease-in-out;
}

.table-row:nth-of-type(2n) {
  background-color: var(--color-dark-shadow-5);
}

.table-row:not(.table-row-header):hover {
  background-color: var(--color-dark-shadow-10);
}

.table-row-header {
  color: var(--color-black);
  background-color: var(--color-light-gray);
}

.table-header,
.table-cel {
  padding: var(--spacing);
}

.table-link {
  color: var(--link-dark-color);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.table-link:hover {
  color: var(--color-black);
}

@media (min-width: 600px) {
  .single-contact {
    max-width: 80%;
    margin: calc(var(--spacing) * 2) auto;
  }
}

.single-contact h1 {
  margin: 1rem 0;
}

.single-contact p {
  margin: 1rem 0;
}

.message {
  max-width: 600px;
  margin: var(--spacing) auto;
  margin-top: calc(var(--spacing) * 2);
  padding: var(--spacing);
  text-align: center;
  border-radius: var(--default-border-radius);
  font-size: 1.2rem;
}

.message.success {
  background: rgba(0, 255, 0, 0.3);
  border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 90%);
}

.message.warning {
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid rgba(255, 255, 0, 90%);
}
